#theGame {
    text-align: center; 
    margin-top: 50px; 
}

h1 {
    text-align: center;
}

#theGame table {
    border-collapse: collapse; 
    margin: 0 auto;
}

#theGame td {
    width: 50px; 
    height: 50px; 
    border: 1px solid black; 
    cursor: pointer; 
}
td {
    width: 50px; 
    height: 50px; 
    border: 1px solid black; 
    cursor: pointer; 
    color: rgb(217, 255, 0);
}

#checkPuzzleButton, #start, #stop {
    margin-top: 10px;
    background-color: rgb(210, 210, 248);
}

input {
    font-size: large;
}

#refreshGameButton {
    color: rgb(241, 148, 213);
    font-size: medium;
    font-weight: 100;
    background-color: rgb(131, 251, 107);
}